*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI' , sans-serif;
}
.card {
    width: 80%;
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    box-shadow: 9px 9px 25px 11px rgba(0,0,0,0.75);
    -webkit-box-shadow: 9px 9px 25px 11px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 9px 25px 11px rgba(0,0,0,0.75);
    justify-content: space-between;

}
.cardLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.cardLeft > span {
    font-weight: 400;
}

.cardLeft > a {
    margin-top: 15px;
    font-size: 25px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.cardLeft > p {
    color: gray;
}

.container .card .cardRight img {
    width: 310px;
    max-width: 100%;
}